## ノック41

In [6]:
import pandas as pd

customer = pd.read_csv('customer_join.csv')
uselog_months = pd.read_csv('use_log_months.csv')

In [7]:
year_months = list(uselog_months['年月'].unique())
uselog = pd.DataFrame()
for i in range(1, len(year_months)):
    tmp = uselog_months.loc[uselog_months['年月'] == year_months[i]]
    tmp.rename(columns={"count": "count_0"}, inplace=True)
    tmp_before = uselog_months.loc[uselog_months['年月'] == year_months[i - 1]]
    del tmp_before['年月']
    tmp_before.rename(columns={"count": "count_1"}, inplace=True)
    tmp = pd.merge(tmp, tmp_before, on='customer_id', how='left')
    uselog = pd.concat([uselog, tmp], ignore_index=True)
uselog.head()

/Users/abe2/PycharmProjects/python_knock_100/venv/lib/python3.10/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       年月 customer_id  count_0  count_1
0  201805    AS002855        5      4.0
1  201805    AS009373        4      3.0
2  201805    AS015233        7      NaN
3  201805    AS015315        3      6.0
4  201805    AS015739        5      7.0

## ノック42

In [8]:
from dateutil.relativedelta import relativedelta

exit_customer = customer.loc[customer["is_deleted"] == 1]
exit_customer["exit_date"] = None
exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
for i in range(len(exit_customer)):
    exit_customer["exit_date"].iloc[i] = exit_customer["end_date"].iloc[i] - relativedelta(months=1)
exit_customer["exit_date"] = pd.to_datetime(exit_customer["exit_date"])
exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")
uselog["年月"] = uselog["年月"].astype(str)
exit_uselog = pd.merge(uselog, exit_customer, on=["customer_id", "年月"], how="left")
print(len(uselog))
exit_uselog.head()

/var/folders/8m/nh1dsqlj3nbf01srth34gpm80000gp/T/ipykernel_48580/1318804781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["exit_date"] = None
/var/folders/8m/nh1dsqlj3nbf01srth34gpm80000gp/T/ipykernel_48580/1318804781.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
/Users/abe2/PycharmProjects/python_knock_100/venv/lib/python3.10/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

33851

/var/folders/8m/nh1dsqlj3nbf01srth34gpm80000gp/T/ipykernel_48580/1318804781.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["exit_date"] = pd.to_datetime(exit_customer["exit_date"])
/var/folders/8m/nh1dsqlj3nbf01srth34gpm80000gp/T/ipykernel_48580/1318804781.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201805,AS002855,5,4.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,201805,AS009373,4,3.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,201805,AS015233,7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,201805,AS015315,3,6.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,201805,AS015739,5,7.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [9]:
exit_uselog = exit_uselog.dropna(subset=["name"])
print(len(exit_uselog))
print(len(exit_uselog["customer_id"].unique()))
exit_uselog.head()

1104
1104

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
19,201805,AS055680,3,3.0,XXXXX,C01,M,2018-03-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,3.0,3.0,0.0,2018-06-30,3.0,2018-05-30
57,201805,AS169823,2,3.0,XX,C01,M,2017-11-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,4.0,2.0,1.0,2018-06-30,7.0,2018-05-30
110,201805,AS305860,5,3.0,XXXX,C01,M,2017-06-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,12.0,2018-05-30
128,201805,AS363699,5,3.0,XXXXX,C01,M,2018-02-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,4.0,2018-05-30
147,201805,AS417696,1,4.0,XX,C03,F,2017-09-01,2018-06-30,CA1,...,6000.0,通常,2.000000,1.0,4.0,1.0,0.0,2018-06-30,9.0,2018-05-30

## ノック43

In [13]:
conti_customer = customer.loc[customer["is_deleted"] == 0]
conti_uselog = pd.merge(uselog, conti_customer, on=["customer_id"], how="left")
print(len(conti_uselog))
conti_uselog = conti_uselog.dropna(subset=["name"])
print(len(conti_uselog))

33851
27422

In [15]:
conti_uselog = conti_uselog.sample(frac=1).reset_index(drop=True)
conti_uselog = conti_uselog.drop_duplicates(subset=["customer_id"])
print(len(conti_uselog))
conti_uselog.head()

2842

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,class_name,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,201903,PL326209,8,6.0,XXXX,C01,M,2019-01-12,NaN,CA1,...,オールタイム,10500.0,通常,7.666667,8.0,9.0,6.0,1.0,2019-04-30,3.0
1,201903,PL941345,3,5.0,XXXX,C01,F,2016-06-01,NaN,CA1,...,オールタイム,10500.0,通常,4.583333,5.0,7.0,2.0,1.0,2019-04-30,34.0
2,201902,OA286310,2,3.0,XXX,C01,F,2016-10-01,NaN,CA1,...,オールタイム,10500.0,通常,4.666667,5.0,7.0,2.0,1.0,2019-04-30,30.0
3,201811,OA072075,7,5.0,XX,C03,F,2017-01-01,NaN,CA1,...,ナイト,6000.0,通常,5.250000,5.0,8.0,3.0,1.0,2019-04-30,27.0
4,201805,GD649455,3,6.0,XXXXXX,C01,M,2015-11-01,NaN,CA1,...,オールタイム,10500.0,通常,5.000000,4.5,8.0,3.0,1.0,2019-04-30,41.0

In [18]:
predict_data = pd.concat([conti_uselog, exit_uselog], ignore_index=True)
print(len(predict_data))
predict_data.head()

3946

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201903,PL326209,8,6.0,XXXX,C01,M,2019-01-12,NaN,CA1,...,10500.0,通常,7.666667,8.0,9.0,6.0,1.0,2019-04-30,3.0,NaT
1,201903,PL941345,3,5.0,XXXX,C01,F,2016-06-01,NaN,CA1,...,10500.0,通常,4.583333,5.0,7.0,2.0,1.0,2019-04-30,34.0,NaT
2,201902,OA286310,2,3.0,XXX,C01,F,2016-10-01,NaN,CA1,...,10500.0,通常,4.666667,5.0,7.0,2.0,1.0,2019-04-30,30.0,NaT
3,201811,OA072075,7,5.0,XX,C03,F,2017-01-01,NaN,CA1,...,6000.0,通常,5.250000,5.0,8.0,3.0,1.0,2019-04-30,27.0,NaT
4,201805,GD649455,3,6.0,XXXXXX,C01,M,2015-11-01,NaN,CA1,...,10500.0,通常,5.000000,4.5,8.0,3.0,1.0,2019-04-30,41.0,NaT

## ノック44

In [21]:
predict_data["period"] = 0
predict_data["now_date"] = pd.to_datetime(predict_data["年月"], format="%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
for i in range(len(predict_data)):
    delta = relativedelta(predict_data["now_date"][i], predict_data["start_date"][i])
    predict_data["period"][i] = int(delta.years * 12 + delta.months)
predict_data.head()

/var/folders/8m/nh1dsqlj3nbf01srth34gpm80000gp/T/ipykernel_48580/917698760.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predict_data["period"][i] = int(delta.years * 12 + delta.months)

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date,period,now_date
0,201903,PL326209,8,6.0,XXXX,C01,M,2019-01-12,NaN,CA1,...,7.666667,8.0,9.0,6.0,1.0,2019-04-30,3.0,NaT,1,2019-03-01
1,201903,PL941345,3,5.0,XXXX,C01,F,2016-06-01,NaN,CA1,...,4.583333,5.0,7.0,2.0,1.0,2019-04-30,34.0,NaT,33,2019-03-01
2,201902,OA286310,2,3.0,XXX,C01,F,2016-10-01,NaN,CA1,...,4.666667,5.0,7.0,2.0,1.0,2019-04-30,30.0,NaT,28,2019-02-01
3,201811,OA072075,7,5.0,XX,C03,F,2017-01-01,NaN,CA1,...,5.250000,5.0,8.0,3.0,1.0,2019-04-30,27.0,NaT,22,2018-11-01
4,201805,GD649455,3,6.0,XXXXXX,C01,M,2015-11-01,NaN,CA1,...,5.000000,4.5,8.0,3.0,1.0,2019-04-30,41.0,NaT,30,2018-05-01