## ノック41

In [1]:
import pandas as pd

customer = pd.read_csv('customer_join.csv')
uselog_months = pd.read_csv('use_log_months.csv')

In [2]:
year_months = list(uselog_months['年月'].unique())
uselog = pd.DataFrame()
for i in range(1, len(year_months)):
    tmp = uselog_months.loc[uselog_months['年月'] == year_months[i]]
    tmp.rename(columns={"count": "count_0"}, inplace=True)
    tmp_before = uselog_months.loc[uselog_months['年月'] == year_months[i - 1]]
    del tmp_before['年月']
    tmp_before.rename(columns={"count": "count_1"}, inplace=True)
    tmp = pd.merge(tmp, tmp_before, on='customer_id', how='left')
    uselog = pd.concat([uselog, tmp], ignore_index=True)
uselog.head()

/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.rename(columns={"count": "count_0"}, inplace=True)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/395895870.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_before.rename(columns={"count": "count_1"}, inplace=True)

       年月 customer_id  count_0  count_1
0  201805    AS002855        5      4.0
1  201805    AS009373        4      3.0
2  201805    AS015233        7      NaN
3  201805    AS015315        3      6.0
4  201805    AS015739        5      7.0

## ノック42

In [3]:
from dateutil.relativedelta import relativedelta

exit_customer = customer.loc[customer["is_deleted"] == 1]
exit_customer["exit_date"] = None
exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
for i in range(len(exit_customer)):
    exit_customer["exit_date"].iloc[i] = exit_customer["end_date"].iloc[i] - relativedelta(months=1)
exit_customer["exit_date"] = pd.to_datetime(exit_customer["exit_date"])
exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")
uselog["年月"] = uselog["年月"].astype(str)
exit_uselog = pd.merge(uselog, exit_customer, on=["customer_id", "年月"], how="left")
print(len(uselog))
exit_uselog.head()

/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/1318804781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["exit_date"] = None
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/1318804781.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/1318804781.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["exit_date"].iloc[i] = exit_customer["end_date"].iloc[i] - relativedelta(months=1)
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/1318804781.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["exit_date"] = pd.to_datetime(exit_customer["exit_date"])
/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/1318804781.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")

33851

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201805,AS002855,5,4.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,201805,AS009373,4,3.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,201805,AS015233,7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,201805,AS015315,3,6.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,201805,AS015739,5,7.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [4]:
exit_uselog = exit_uselog.dropna(subset=["name"])
print(len(exit_uselog))
print(len(exit_uselog["customer_id"].unique()))
exit_uselog.head()

1104
1104

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
19,201805,AS055680,3,3.0,XXXXX,C01,M,2018-03-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,3.0,3.0,0.0,2018-06-30,3.0,2018-05-30
57,201805,AS169823,2,3.0,XX,C01,M,2017-11-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,4.0,2.0,1.0,2018-06-30,7.0,2018-05-30
110,201805,AS305860,5,3.0,XXXX,C01,M,2017-06-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,12.0,2018-05-30
128,201805,AS363699,5,3.0,XXXXX,C01,M,2018-02-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,4.0,2018-05-30
147,201805,AS417696,1,4.0,XX,C03,F,2017-09-01,2018-06-30,CA1,...,6000.0,通常,2.000000,1.0,4.0,1.0,0.0,2018-06-30,9.0,2018-05-30

## ノック43

In [5]:
conti_customer = customer.loc[customer["is_deleted"] == 0]
conti_uselog = pd.merge(uselog, conti_customer, on=["customer_id"], how="left")
print(len(conti_uselog))
conti_uselog = conti_uselog.dropna(subset=["name"])
print(len(conti_uselog))

33851
27422

In [6]:
conti_uselog = conti_uselog.sample(frac=1).reset_index(drop=True)
conti_uselog = conti_uselog.drop_duplicates(subset=["customer_id"])
print(len(conti_uselog))
conti_uselog.head()

2842

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,class_name,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,201806,PL834411,2,3.0,XXXXX,C03,F,2015-05-01,NaN,CA1,...,ナイト,6000.0,通常,4.916667,4.5,8.0,1.0,1.0,2019-04-30,47.0
1,201810,HD287652,5,3.0,XX,C03,M,2015-07-01,NaN,CA1,...,ナイト,6000.0,通常,4.333333,4.0,6.0,3.0,1.0,2019-04-30,45.0
2,201902,PL456313,3,2.0,XXXXX,C01,F,2015-06-01,NaN,CA1,...,オールタイム,10500.0,通常,3.750000,3.5,8.0,1.0,1.0,2019-04-30,46.0
3,201903,OA862614,4,4.0,XXXX,C03,M,2015-10-01,NaN,CA1,...,ナイト,6000.0,通常,4.500000,4.0,7.0,3.0,1.0,2019-04-30,42.0
4,201806,HD848426,5,8.0,XXXXXX,C02,F,2017-12-01,NaN,CA3,...,デイタイム,7500.0,入会費無料,6.750000,7.0,9.0,5.0,1.0,2019-04-30,16.0

In [7]:
predict_data = pd.concat([conti_uselog, exit_uselog], ignore_index=True)
print(len(predict_data))
predict_data.head()

3946

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201806,PL834411,2,3.0,XXXXX,C03,F,2015-05-01,NaT,CA1,...,6000.0,通常,4.916667,4.5,8.0,1.0,1.0,2019-04-30,47.0,NaT
1,201810,HD287652,5,3.0,XX,C03,M,2015-07-01,NaT,CA1,...,6000.0,通常,4.333333,4.0,6.0,3.0,1.0,2019-04-30,45.0,NaT
2,201902,PL456313,3,2.0,XXXXX,C01,F,2015-06-01,NaT,CA1,...,10500.0,通常,3.750000,3.5,8.0,1.0,1.0,2019-04-30,46.0,NaT
3,201903,OA862614,4,4.0,XXXX,C03,M,2015-10-01,NaT,CA1,...,6000.0,通常,4.500000,4.0,7.0,3.0,1.0,2019-04-30,42.0,NaT
4,201806,HD848426,5,8.0,XXXXXX,C02,F,2017-12-01,NaT,CA3,...,7500.0,入会費無料,6.750000,7.0,9.0,5.0,1.0,2019-04-30,16.0,NaT

## ノック44

In [8]:
predict_data["period"] = 0
predict_data["now_date"] = pd.to_datetime(predict_data["年月"], format="%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
for i in range(len(predict_data)):
    delta = relativedelta(predict_data["now_date"][i], predict_data["start_date"][i])
    predict_data["period"][i] = int(delta.years * 12 + delta.months)
predict_data.head()

/var/folders/dm/byl0njhx22b_0k5t4wfszq5c0000gp/T/ipykernel_85559/917698760.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predict_data["period"][i] = int(delta.years * 12 + delta.months)

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date,period,now_date
0,201806,PL834411,2,3.0,XXXXX,C03,F,2015-05-01,NaT,CA1,...,4.916667,4.5,8.0,1.0,1.0,2019-04-30,47.0,NaT,37,2018-06-01
1,201810,HD287652,5,3.0,XX,C03,M,2015-07-01,NaT,CA1,...,4.333333,4.0,6.0,3.0,1.0,2019-04-30,45.0,NaT,39,2018-10-01
2,201902,PL456313,3,2.0,XXXXX,C01,F,2015-06-01,NaT,CA1,...,3.750000,3.5,8.0,1.0,1.0,2019-04-30,46.0,NaT,44,2019-02-01
3,201903,OA862614,4,4.0,XXXX,C03,M,2015-10-01,NaT,CA1,...,4.500000,4.0,7.0,3.0,1.0,2019-04-30,42.0,NaT,41,2019-03-01
4,201806,HD848426,5,8.0,XXXXXX,C02,F,2017-12-01,NaT,CA3,...,6.750000,7.0,9.0,5.0,1.0,2019-04-30,16.0,NaT,6,2018-06-01

## ノック45

In [9]:
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1               258
name                    0
class                   0
gender                  0
start_date              0
end_date             2842
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2842
period                  0
now_date                0
dtype: int64

In [10]:
predict_data = predict_data.dropna(subset=["count_1"])
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1                 0
name                    0
class                   0
gender                  0
start_date              0
end_date             2636
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2636
period                  0
now_date                0
dtype: int64

## ノック46

In [11]:
target_col = ["campaign_id", "class_name", "gender", "count_1", "routine_flg", "period", "is_deleted"]
predict_data = predict_data[target_col]
predict_data.head()

  campaign_id class_name gender  count_1  routine_flg  period  is_deleted
0         CA1        ナイト      F      3.0          1.0      37         0.0
1         CA1        ナイト      M      3.0          1.0      39         0.0
2         CA1     オールタイム      F      2.0          1.0      44         0.0
3         CA1        ナイト      M      4.0          1.0      41         0.0
4         CA3      デイタイム      F      8.0          1.0       6         0.0

In [12]:
predict_data=pd.get_dummies(predict_data)
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_id_CA1,campaign_id_CA2,campaign_id_CA3,class_name_オールタイム,class_name_デイタイム,class_name_ナイト,gender_F,gender_M
0,3.0,1.0,37,0.0,1,0,0,0,0,1,1,0
1,3.0,1.0,39,0.0,1,0,0,0,0,1,0,1
2,2.0,1.0,44,0.0,1,0,0,1,0,0,1,0
3,4.0,1.0,41,0.0,1,0,0,0,0,1,0,1
4,8.0,1.0,6,0.0,0,0,1,0,1,0,1,0

In [13]:
#del predict_data["campaign_name_通常"]
del predict_data["class_name_ナイト"]
del predict_data["gender_M"]
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_id_CA1,campaign_id_CA2,campaign_id_CA3,class_name_オールタイム,class_name_デイタイム,gender_F
0,3.0,1.0,37,0.0,1,0,0,0,0,1
1,3.0,1.0,39,0.0,1,0,0,0,0,0
2,2.0,1.0,44,0.0,1,0,0,1,0,1
3,4.0,1.0,41,0.0,1,0,0,0,0,0
4,8.0,1.0,6,0.0,0,0,1,0,1,1